Config(
    total_timesteps: 5000,
    rollout: (
        steps: 32,
        num_envs: 64,
        processes: 4,
    ),
    optim: (
        bs: 512,
        lr: 0.005,
    ),
    track: false,
    wandb_project_name: "ENN_TensorRTS",
    wandb_entity: "jp4"
)